@model Lift.Models.StartupConfigurations

@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Classes.css" />
    <link rel="stylesheet" href="~/css/Div.css" />
   
</head>

<body>
   
    <div class="top-buttons" style="display: flex;
        justify-content: center; align-items: center; margin-top: 50px; margin-left: 65px;">
        <button onclick="@{Model.ModelWorkSystem = false;}" style="color: white; margin-right: 20%; width: 200px; height: 40px;
            background: linear-gradient(to top, rgb(21, 32, 187) , #06c2b2 ); border-radius: 20px;">
            Минимум времени ожидания
        </button>
        <button onclick="@{Model.ModelWorkSystem = true;}" style="color: white; width: 200px; height: 40px;
            background: linear-gradient(to top, rgb(21, 32, 187) , #06c2b2 ); border-radius: 20px;">
            Минимум холостых ходов
        </button>
    </div>

    <br>

    <table style="width:100%; margin-top: 50px; ">
        <tr>
            <td style="width: 38%;" ; rowspan="2">
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 70px; height: 40px; text-align: center; line-height: 35px;">
                    <b>Лифты</b>
                </div>
            </td>
            <td>
                @*@Model.Lifts*@
                @{ var w = 3; }
                <button onclick="myFunction(@w)" style="color: white; width: 50px; height: 50px;
                background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 ); border-radius: 100%;">
                    Up
                </button>

            </td>

            <td  style="margin-top: 12%;" ; rowspan="2">

                <div id="LiftController" style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 40px; height: 40px;
                    text-align: center;
                    line-height: 40px;">
                    <b>@Model.Lifts</b>
                </div>
            </td>
            <td style="width: 30%;" ; rowspan="2">
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white; width: 70px; height: 40px;
                    text-align: center; line-height: 40px;">
                    <b>Этажи</b>
                </div>
            </td>
            <td>
                <button onclick="@{Model.Floors = Model.Floors + 1;}" style="color: white; width: 50px; height: 50px; 
                    background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 ); border-radius: 100%;">
                    Up
                </button>
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 40px; height: 40px; text-align: center; line-height: 35px;">
                    <b>@Model.Floors</b>
                </div>
            </td>
            <td style="width: 50%;" ; rowspan="2">
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="myFunction2(@Model.Lifts)" style="color: white; width: 50px; height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 ); border-radius: 100%;">
                    Down
                </button>
            </td>
            <td>
                <button style="color: white; width: 50px; height: 50px;
                    background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 ); border-radius: 100%;">
                    Down
                </button>
            </td>
        </tr>
    </table>

    <table style="width:100%; margin-top: 10%; ">
        <tr>
            <td style="width: 25%;" ; rowspan="2">
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 120px; height: 80px;
                    text-align: center;
                    line-height: 35px;">
                    Макс кол-во людей в лифте
                </div>
            </td>
            <td>
                <button style="color: white;
                        width: 50px;
                height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Up
                </button>
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 40px; height: 40px;
                    text-align: center;
                    line-height: 40px;">
                    <b>@Model.PeopleInLift</b>
                </div>
            </td>
            <td style="width: 30%;" ; rowspan="2">
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 120px; height: 80px;
                    text-align: center;
                    line-height: 40px;">
                    Макс скорость лифтов (эт/с)
                </div>
            </td>
            <td>
                <button style="color: white;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Up
                </button>
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 40px; height: 40px;
                    text-align: center;
                    line-height: 35px;">
                    <b>@Model.SpeedOfLift</b>
                </div>
            </td>
            <td style="width: 30%;" ; rowspan="2">
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 120px; height: 80px;
                    text-align: center;
                    line-height: 40px;">
                    Макс ускорение лифтов (эт/с<sup>2</sup>)
                </div>
            </td>
            <td>
                <button style="color: white;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Up
                </button>
            </td>
            <td style="margin-top: 12%;" ; rowspan="2">
                <div style="background: linear-gradient(to top, rgb(14, 94, 14) , #72ff30 ); color: white;
                    width: 40px; height: 40px;
                    text-align: center;
                    line-height: 35px;">
                    <b>@Model.AccelerationOfLift</b>
                </div>
            </td>
            <td style="width: 50%;" ; rowspan="2">
            </td>
        </tr>
        <tr>
            <td>
                <button style="color: white;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Down
                </button>
            </td>
            <td>
                <button style="color: white;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Down
                </button>
            </td>
            <td>
                <button style="color: white;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(to top, rgb(255, 217, 0) , #bb9a05 );
                        border-radius: 100%;">
                    Down
                </button>
            </td>
        </tr>
    </table>

    <div class="bottom-buttons" style="display: flex;
        justify-content: center; align-items: center; margin-top: 150px; margin-left: 150px;">
        <button style="color: white;
               margin-right: 150px;
                  width: 200px;
                   height: 40px;
                    background: linear-gradient(to left, rgb(173, 116, 10) , #fbff23  );
                    border-radius: 20px;">
            <b>DOWNLOAD</b>
        </button>
        <button style="color: white;
                 width: 200px;
                 margin-right: 150px;
                   height: 40px;
                    background: linear-gradient(to left, rgb(173, 116, 10) , #fbff23 );
               border-radius: 20px;">
            <b>UPLOAD</b>
        </button>
        <form asp-action="LiftInterface">
            <button style="color: white;
                margin-right: 100px;
                   width: 200px;
                    height: 40px;
                     background: linear-gradient(to left, rgb(173, 116, 10) , #fbff23  );
                     border-radius: 20px;">
                <b>OK</b>
            </button>
        </form>
    </div>

    <script>
        function myFunction(x)
        {
            if (x <= 5)
            {
                x = x + 1;
                @{w = w + 1;}
                @{Model.Lifts = Model.Lifts + 1;}
            }
            //document.getElementById("LiftController").innerHTML = x;
            document.getElementById("LiftController").innerHTML = @w;
        }
        function myFunction2(x)
        {
            if (x <= 5)
            {
                x = x - 1;
                @{Model.Lifts = Model.Lifts - 1;}
            }
            document.getElementById("LiftController").innerHTML =  x;
        }
    </script>

</body>
</html>